.menu-img {background-image: url("../image/home1.webp");}
.intro {
    position: absolute;
    top: 320px;
    font-family: 'Poppins';
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.intro_1 {
    position: absolute;
    top: 450px;
    font-family: 'Poppins';
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.intro_2 {
    color:orange;
    text-decoration: none;
}

.intro_2:hover {
    color:orange;
    text-decoration: underline;
}
/*latest blog*/
.inline_center{
    display: flex;
    justify-content: center;
}
.home_blog {
    border: none;
    padding-bottom: 80px;
    background-color: rgb(94, 128, 240);
}
.blog_title{
    color: #fff;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: bold;
    width: 310px;
    margin: auto;
    padding: 30px 0 50px;
}
.blog_child img {
    width: 100%;
    transition: all 1s; /** Tạo độ mượt **/ }
.blog_child:hover img {-webkit-transform: scale(1.08); transform: scale(1.08); }
.blog_child {
    background-color: #fff;
    text-align: justify;
    border: 1px #fff solid;
    margin: 10px;
    padding: 30px 30px;
    width: 22%;
}
.blog_date {
    color: orange;
    text-align: left;
    margin: 5px 0px;
}

.rmore {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins';
    color: black;
    margin: 5px 0px;
    text-decoration: none;
}
.rmore:hover {
    color: orange;
}
.blog_news {
    padding: 10px 0px;
}
/*our team*/
.team_name {padding-top: 10px}
.ourteam_title {
    color: black;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
}
.our_team {
    border-top: 1px rgb(175, 168, 168) solid;
    margin: 40px 10px;
    background-color: #fff;
}
.team_child {
    background-color: #fff;
    border: 1px #fff solid;
    margin: 10px;
    padding: 20px;
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team_child img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}
/*home contact*/
.home_contact{
    background-color: rgb(236, 236, 236);
    padding: 50px 0;
    text-align: center;
}
.home_contact h1 {
    font-size: 45px;
    font-family: 'Poppins';
}
.home_contact p {
    font-size: 20px;
    padding: 20px;
}
.home_con2 {
    font-weight: bold;
    color:rgb(94, 128, 240);
}
.home_con {
    margin: 10px;
    border:none;
    background-color:#fff;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    outline: none;
}
/*top schools*/
.topschool {
    padding: 20px 20px 0px 20px;
    margin: 20px 20px 0px 20px;
    text-align: center;
}
.famous_schools {
    padding: 30px 0px;
    text-align: center;
}
.fs1 {
    text-align: center;
    padding: 10px 80px;
    display: inline-block;
}
.topschool  {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 45px;
}
.scn{
    padding: 10px;
    color: black;
}
.scn {
    margin: 40px 0px;
    padding: 30px 0px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins';
}
.scn:hover {color: orange;}
/*welcome*/
.welcome {background: rgb(248, 246, 246);}
.welcome img{width: 100%}
.welcome_btn {
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins';
    color: #fff;
    background-color: orange;
    border: 1px orange solid;
    border-radius: 30px;
    padding: 10px;
}
.welcome_btn:hover {
    background-color: rgb(236, 165, 33);
    border: 1px rgb(236, 165, 33) solid;
}
#welcome_inline{display: flex}
#welcome_inline > div:first-child{width: 45%;}
#welcome_inline > div:last-child{width: 55%;}
.wlbtn {
    width: 200px;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0 50px;
}
.RD {
    text-decoration: none;
    color: #fff;
}
.welcome1 {
    font-size: 80px;
    color: rgb(79, 133, 233);
    font-family: 'Poppins';
    padding: 0px 10px;
    margin: 0px;
}
/*find school*/
.form_find {
    background-color:rgb(94, 128, 240);
    color: #fff;
    text-align: center;
    padding: 50px 0px;
}
.form_atom {
    display: inline-block;
    padding: 20px 100px;
}
.distance {
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: rgb(248, 248, 248);
    width: 231px;
    height: 39px;
}
.edu_lev {
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: rgb(248, 248, 248);
    width: 231px;
    height: 39px;
}
.locations {
    border:1px rgb(175, 168, 168) solid;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: rgb(248, 248, 248);
    width: 231px;
    height: 39px;
}
.finding {
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: bold;
}
.finding_btn {

    width: 120px;
    margin: 10px auto;
}
.finding_btn1 {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 100px;
    background-color: orange;
}